@*<div class="container-fluid">*@
    <div class="ustmenu2">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9"><div class="container">Forum</div></div>
                <div class="col-md-2">
                    <span class="glyphicon glyphicon-user"></span>Kayıt Ol
                    <span class="glyphicon glyphicon-log-in"></span> Giriş Yap
                </div>
            </div>
    </div>
@*</div>*@